@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
  box-sizing: border-box;
}

.cv-container {
  max-width: 1100px;
  max-height: 1500px;
  margin: 0 auto;

  --primary-color: #1f85eb;
  --secondary-color: #1fcceb;
  --main-text-color: #5e5a5a;
  --secondary-text-color: #404040;
  --main-background-color: #ededed;
}

main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

/* LEFT SIDE */

.left-content-block {
  display: flex;
  flex-direction: column;
  width: 34%;
  background-color: var(--main-background-color);
  border: 2px solid var(--primary-color);
  border-radius: 20px;
}

.avatar-wrapper {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  border-radius: 20px 20px 0 0;
}

.avatar {
  max-width: 80%;
}

.name-profession {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-profession p:first-child {
  font-size: xx-large;
  font-weight: 500;
  letter-spacing: 2px;
  max-width: 80%;
  color: var(--primary-color);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-transform: uppercase;
  margin: 6% 0;
}

.profession {
  font-size: large;
  letter-spacing: 1px;
  color: var(--secondary-color);
  font-weight: 600;
  font-family: "Lato";
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.contacts {
  position: relative;
  margin-top: 6%;
}

.icon {
  width: 15px;
  height: 15px;
}

.line-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftDivHr {
  width: 80%;
}

.contacts p {
  text-align: center;
  font-size: medium;
  color: var(--main-text-color);
  font-weight: 700;
  font-family: "Open Sans";
}

.contacts p span,
a {
  text-decoration: none;
  color: #7c7777;
}

.blue-block {
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: var(--secondary-color);
}

h3 {
  font-size: large;
  letter-spacing: 1px;
  color: var(--main-text-color);
  font-weight: 700;
  font-family: "Raleway";
  text-align: center;
  text-transform: uppercase;
}

.skills-list ul {
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 15px;
}

.skills-element {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: rgb(192, 191, 191);
  margin: 20px 20px;
  border-radius: 5px;
}

.skills-element:hover {
  background-color: var(--secondary-color);
  cursor: context-menu;
  scale: 1.1;
}

.skills-element span {
  color: rgb(60, 100, 112);
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.skills-element:hover span {
  color: var(--main-background-color);
}

/* RIGHT SIDE */

.right-content-block {
  width: 66%;
  background-color: var(--main-background-color);
  border-right: var(--main-text-color) 2px solid;
  border-top: var(--main-text-color) 2px solid;
  border-bottom: var(--main-text-color) 2px solid;
  border-radius: 20px;
  padding: 1% 5% 0 5%;
}

.heading {
  font-size: large;
  letter-spacing: 1px;
  color: var(--main-text-color);
  font-weight: 700;
  font-family: "Raleway";
  text-align: start;
  text-transform: uppercase;
}

.line-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightDivHr {
  width: 100%;
}

.description {
  font-size: medium;
  text-align: justify;
  line-height: 20px;
  color: var(--secondary-text-color);
  font-family: Tahoma, sans-serif;
  margin-top: 4%;
}

.title {
  font-size: medium;
  color: #696868;
  font-family: "Raleway";
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  color: var(--secondary-color);
}

.education {
  display: block;
}

.education-description {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 22%;
  row-gap: 10%;
  margin: 5% 0 12% 0;
}

.lanuage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  text-align: center;
  margin: 0;
}

.lang-items {
  color: rgb(60, 100, 112);
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
  padding: 10px;
}

.font-large {
  font-size: 1.1rem;
  font-weight: 500;
}

.line-he {
  line-height: 20px;
}

.qualities {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrapper-hobby {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hobby-img {
  text-align: center;
}

.hobby-img img {
  width: 45px;
  height: 45px;
}

.deskript {
  color: rgb(120, 121, 120);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 800px) {
  .right-content-block {
    padding: 1% 3% 0 3%;
  }
}

@media screen and (max-width: 750px) {
  .name-profession p:first-child {
    font-size: x-large;
  }

  .qualities {
    display: block;
  }

  .education-description {
    row-gap: 5%;
  }
  h3 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .name-profession p:first-child {
    font-size: large;
  }

  .profession {
    font-size: medium;
  }

  .contacts p {
    font-size: small;
  }

  .skills-list ul {
    padding: 0 5px;
  }
}

@media screen and (max-width: 470px) {
  .name-profession p:first-child {
    font-size: small;
  }

  .profession {
    font-size: 15px;
  }

  .contacts p {
    font-size: 10px;
  }

  .skills-list ul {
    padding: 0;
  }

  .title {
    font-size: small;
  }

  .description {
    font-size: small;
  }

  h3 {
    font-size: small;
  }

  .deskript {
    font-size: small;
  }
}

@media screen and (max-width: 470px) {
  .name-profession p:first-child {
    font-size: small;
  }

  .profession {
    font-size: 15px;
  }

  .contacts p {
    font-size: 10px;
  }

  .skills-list ul {
    padding: 0;
  }

  .title {
    font-size: small;
  }

  .description {
    font-size: small;
  }

  h3 {
    font-size: 15px;
  }

  .heading {
    font-size: 15px;
  }

  .deskript {
    font-size: small;
  }

  .skills-element span {
    font-weight: 300;
    font-size: medium;
  }

  .hobby-img img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 370px) {
  .name-profession p:first-child {
    font-size: 10px;
  }

  .profession {
    font-size: 10px;
  }

  .contacts p {
    font-size: 7px;
  }

  h3 {
    font-size: 10px;
  }

  .heading {
    font-size: 10px;
  }

  .hobby-img img {
    width: 25px;
    height: 25px;
  }
}
